<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <base target="_blank"/>
        <style>
            @style('templates/styles/demo.scss')
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body class="demo-page">
        <article>
            {{{body}}}
        </article>
        <script>
          var customElementDemo=function(e){"use strict";const t=document.createElement("template");t.innerHTML="\n    <style>\n        :host {\n            display: block;\n            padding: 16px;\n            box-sizing: border-box;\n\n            background: var(--gray-10, #fafafa);\n            padding: 24px;\n            border-radius: 4px;\n            overflow: auto;\n        }\n    </style>\n",window.ShadyCSS&&window.ShadyCSS.prepareTemplate(t,"custom-element-demo");class s extends HTMLElement{constructor(){super(),this.scripts=["https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"],this.attachShadow({mode:"open"}),this.shadowRoot.appendChild(t.content.cloneNode(!0)),requestAnimationFrame(()=>{this.template=this.querySelector("template"),this.template?(this.iframe=document.createElement("iframe"),this.iframe.style.height=this.height,this.iframe.style.width="100%",this.iframe.style.border="none",this.iframeHTML=`\n                <head>\n                    <base href="${this.baseHref}">\n                    ${this.scripts.map(e=>`<script src="${e}"><\/script>`).join("")}\n                </head>\n                <body style="margin: 0; padding: 0;">\n                    ${this.template.innerHTML}\n\n                </body>\n            `,this.shadowRoot.appendChild(this.iframe),this.iframe.contentWindow.document.write(this.iframeHTML),this.iframe.contentWindow.document.close()):console.error("Missing <template></template> inside <custom-element-demo></custom-element-demo>")})}set baseHref(e){Boolean(e)?this.setAttribute("base-href",e):this.removeAttribute("base-href")}get baseHref(){return this.hasAttribute("base-href")?this.getAttribute("base-href"):"."}set height(e){Boolean(e)?this.setAttribute("height",e):this.removeAttribute("height")}get height(){return this.hasAttribute("height")?this.getAttribute("height"):"300px"}}return window.customElements.get("custom-element-demo")||window.customElements.define("custom-element-demo",s),e.CustomElementDemo=s,e}({});
          //# sourceMappingURL=custom-element-demo.bundle.js.map
        </script>
    </body>
</html>
